:root{
  --theme-accent: #ffffff ;
  --theme-text-accent: #212121;
  --theme-text: #757575;
  --theme-button: #2196F3; 
  --theme-bgr: #E5E5E5; 
  --theme-button-other: #F5F4FA;
  --theme-bgr-field: #2F303A;
  --theme-adress-link: rgba(255, 255, 255, 0.6);

}
html {
  box-sizing: border-box ;
}
body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 0.03em;
  background-color: var(--theme-accent);
}
.header {
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  padding-right: 93px;
  color: var(--theme-text-accent);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.23;
  text-decoration: none;
}
.web {
  color: var(--theme-button);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  text-decoration: none;
}
.logo-footer{
  color: var(--theme-accent);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  text-decoration: none;
}
.header-nav {
  display: block;
}
.navigation {
  padding-left: 0;
  padding-right: 40px;
  display: inline-flex;
  margin: 0;
  color: var(--theme-text-accent);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-list {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
}
.navigation:hover, .navigation:focus {
  color: var(--theme-button);
}
.link-flex {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  display: inline-flex;
}

.link {
  color: var(--theme-text);
  text-decoration: none;

}
.link-email{
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-tel {
  margin-left: auto;
  margin-bottom: 0;
  padding-left: 50px;
  display: flex;
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;}

.link:hover, link:focus {
  color: var(--theme-button);
}
.current {
  color: var(--theme-button);
}
.about {
  background-image: url(/images/Bg.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.about-portfolio {
  background-color: var(--theme-accent);
}
.tagline {
  padding-top: 200px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--theme-accent);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  color: var(--theme-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--theme-button);
  align-items: center;
  text-align: center;
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
}
.button-options {
  color: var(--theme-text-accent);
  background-color: var(--theme-button-other);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.button-options:hover, .button-options:focus {
  background-color: var(--theme-button);
  color: var(--theme-accent);
}
.button-options-text{
  display: block;
  margin: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--theme-text-accent)
}
.class {
  display: none;
}
.benefits {
  padding-top: 94px;
}
.benefits-list {
  display: flex;
}
.item {
  margin-right: 30px;
}
.benefits-header {
  color: var(--theme-text-accent);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
  color: var(--theme-text);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-doing {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--theme-text-accent);
}
.doing-img {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.about-doing-img {
  display: inline;
  margin-right: 30px;
  list-style: none;
}
.command {
  background-image: url('/images/Section-bg.png');
}
.command-text {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  color: var(--theme-text-accent);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.employees {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.collaborator {
  margin-right: 30px;
  width: 270px;
  background-color: var(--white-text-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
  0px 1px 1px rgb(0 0 0 / 14%),
  0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.employees-text {
  margin-bottom: 10px;
  color: var(--theme-text-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

}
.employees-text-secondary {
  margin-bottom: 16px;
  font-weight: 400;
  color:var(--theme-text);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.footer>.container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: var(--theme-bgr-field);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}
.address {
  color: var(--theme-accent);
  margin-top: 20px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.address-link {
  display: block;
  color: var(--theme-adress-link);
  margin-top: 9px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.portfolio {
  padding-bottom: 94px;
  margin: auto;
}
.about-portfolio-main {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
}
.button-item {
  margin-right: 8px;
}
.type {
  padding-top: 94px;
  padding-bottom: 50px;
}
.portfolio-content{
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  padding: 0;
  margin: 0;
}
.portfolio-work-examples {
  width: 370px;
  padding-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  list-style: none; 
}
.content-box {
  padding: 20px 24px;
  border: 1px solid var(--theme-accent);
}
.work-examples-img {
  display: block;
}
.text {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  color: var(--theme-text-accent);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  list-style: none;

}
.work-examples {
  display: list-item;
  color: var(--theme-text-accent);
  list-style: none; 
}
.work-examples-img {
  display: inline-flex;
  width: 370px;
  height: 294px;
  padding-right: 30px;
}
.text-secondary {
  margin: 0;
  color: var(--theme-text);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}
.work-examples{
  text-decoration: none;
}
